In [3]:
import pandas as pd

In [4]:
statss = pd.read_csv("22MVP.csv")

In [5]:
stats = pd.read_csv("player_mvp_stats.csv") #reads data in pandas

In [6]:
statss

,Player,games_played,team,PTS,AST,STL,BLK,FG%,3P%,TRB,...,usage_percentage,offensive_win_shares,defensive_win_shares,win_shares,win_shares_per_48_minutes,offensive_box_plus_minus,defensive_box_plus_minus,box_plus_minus,value_over_replacement_player,Similar
0,Giannis Antetokounmpo,47,milwaukee bucks,28.957447,6.021277,0.957447,1.425532,0.540603,0.298343,11.191489,...,35.1,6.4,2.7,9.0,0.284,7.5,3.5,11.0,8.723404,1
1,Devin Booker,49,phoenix suns,25.510204,4.387755,0.959184,0.326531,0.446516,0.369318,5.285714,...,32.2,2.5,2.3,4.8,0.139,3.1,-0.3,2.8,3.346939,1
2,Jimmy Butler,38,miami heat,21.736842,6.026316,1.815789,0.447368,0.491007,0.205882,6.236842,...,26.5,5.1,2.0,7.1,0.264,5.7,2.4,8.1,6.905263,1
3,Stephen Curry,53,golden state warriors,25.811321,6.339623,1.396226,0.396226,0.425409,0.381098,5.339623,...,31.3,4.1,3.0,7.1,0.185,5.7,0.5,6.2,5.879245,1
4,DeMar DeRozan,54,chicago bulls,27.944444,5.129630,0.851852,0.314815,0.515464,0.336735,5.203704,...,31.7,6.3,1.3,7.6,0.190,4.3,-1.0,3.3,3.948148,1
5,Joel Embiid,44,philadelphia 76ers,29.545455,4.454545,1.045455,1.477273,0.492415,0.361963,11.159091,...,37.3,5.3,2.7,8.0,0.264,7.6,2.3,9.9,8.200000,1
6,Nikola Jokic,51,denver nuggets,25.823529,7.882353,1.352941,0.745098,0.570295,0.366516,13.745098,...,31.4,7.4,3.1,10.4,0.297,9.3,4.6,14.0,10.933333,1
7,Ja Morant,45,memphis grizzlies,26.422222,6.777778,1.244444,0.377778,0.493407,0.334975,5.866667,...,33.2,3.7,1.6,5.3,0.170,5.9,-0.2,5.7,5.284444,1
8,Chris Paul,56,phoenix suns,14.964286,10.696429,1.875000,0.321429,0.486111,0.335227,4.535714,...,19.9,5.3,3.2,8.5,0.219,3.1,2.2,5.3,4.978571,1

In [7]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14087,14087,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14088,14088,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14089,14089,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14090,14090,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14091,14091,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [8]:
del stats["Unnamed: 0"] #deletes first column

In [9]:
pd.isnull(stats).sum() #checks for null data

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          50
3P            0
3PA           0
3P%        2042
2P            0
2PA           0
2P%          84
eFG%         50
FT            0
FTA           0
FT%         462
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [10]:
pd.isnull(statss).sum()

Player                           0
games_played                     0
team                             0
PTS                              0
AST                              0
STL                              0
BLK                              0
FG%                              0
3P%                              0
TRB                              0
Tm                               0
W                                0
W/L%                             0
seed                             0
player_efficiency_rating         0
true_shooting_percentage         0
three_point_attempt_rate         0
free_throw_attempt_rate          0
offensive_rebound_percentage     0
defensive_rebound_percentage     0
total_rebound_percentage         0
assist_percentage                0
steal_percentage                 0
block_percentage                 0
turnover_percentage              0
usage_percentage                 0
offensive_win_shares             0
defensive_win_shares             0
win_shares                       0
win_shares_per_48_minutes        0
offensive_box_plus_minus         0
defensive_box_plus_minus         0
box_plus_minus                   0
value_over_replacement_player    0
Similar                          0
dtype: int64

In [11]:
stats[pd.isnull(stats["3P%"])][["Player", "3PA"]].head() #checks for null in these columns

             Player  3PA
2    Elden Campbell  0.0
3     Irving Thomas  0.0
18       Jack Haley  0.0
20      Keith Owens  0.0
30  Benoit Benjamin  0.0

In [12]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]].head() #checks for null in these columns

              Player  FTA
77        John Coker  0.0
92      Jason Sasser  0.0
103  Adrian Caldwell  0.0
119     Bruno Šundov  0.0
158   Jamal Robinson  0.0

In [13]:
stats = stats.fillna(0) #replaces N/A's with 0

In [14]:
statss = statss.fillna(0) #replaces N/A's with 0

In [15]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [16]:
statss.columns

Index(['Player', 'games_played', 'team', 'PTS', 'AST', 'STL', 'BLK', 'FG%',
       '3P%', 'TRB', 'Tm', 'W', 'W/L%', 'seed', 'player_efficiency_rating',
       'true_shooting_percentage', 'three_point_attempt_rate',
       'free_throw_attempt_rate', 'offensive_rebound_percentage',
       'defensive_rebound_percentage', 'total_rebound_percentage',
       'assist_percentage', 'steal_percentage', 'block_percentage',
       'turnover_percentage', 'usage_percentage', 'offensive_win_shares',
       'defensive_win_shares', 'win_shares', 'win_shares_per_48_minutes',
       'offensive_box_plus_minus', 'defensive_box_plus_minus',
       'box_plus_minus', 'value_over_replacement_player', 'Similar'],
      dtype='object')

In [17]:
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%',
       'GB', 'PS/G', 'PA/G', 'SRS'] #variables used to predict MVP

In [18]:
train = stats[stats["Year"] <= 2021] #training set

In [19]:
test = statss[statss["Similar"] == 1] #testing set (smaller)

In [20]:
from sklearn.linear_model import Ridge #form of linear regression which prevents overfitiing
#shrinks linear regression coefficient

reg = Ridge(alpha = 0.1) #initialize ridge model
#change for better acuraccy
#alpha is how much the coefficient is goint to be shrunk

In [21]:
reg.fit(train[predictors], train["Share"]) #fits model on predictor columns to predict share of mvp vote

Ridge(alpha=0.1)

In [22]:
predictions = reg.predict(test[predictors]) #again same thing

KeyError: ignored

In [ ]:
predictions = pd.DataFrame(predictions, columns = ["predictions"], index = test.index)
#coverts predictions from np array to pd dataframe

In [ ]:
predictions

Now we will compare our actual values to our prediction to see how our model did!

In [ ]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
#combine datafranes with concat method

So now what we did is that we addes this predictions colum as you see below.

In [ ]:
combination.sort_values("Share", ascending=False).head(20) #sorts by share

In [ ]:
combination.sort_values("predictions", ascending=False).head(20) #sorts by predictions

In [ ]:
from sklearn.metrics import mean_squared_error #implementing error metric mse

mean_squared_error(combination["Share"], combination["predictions"])

Mean Squared Error function takes the actual and precicted values and comes up with an error metric. Since the mean diference is so low, this is a good mse metric although a lot of the value are zero.

In [ ]:
combination["Share"].value_counts() #out of all the share values, most of them are 0 so our mse is not that acurate

Now let's get a new and more acurate error metric.

In [ ]:
#sorts on share of votes
actual = combination.sort_values("Share", ascending=False)
predicted = combination.sort_values("predictions", ascending=False)
#make a rank colum that uses data to assign a rank from 1 to 5
actual["Rank"] = list(range(1,actual.shape[0]+1))
predicted["Predicted_Rank"] = list(range(1,predicted.shape[0]+1))

In [ ]:
actual.merge(predicted, on="Player").head(10)

Now we can see some extra columns including the actual rank and predicted rank. It's somewhat acurate and there is a few outliers.

Now let's use the average precision error metric since it deals with ranking. So now what we're saying is did you have a person that is going to be in the top 5 in the actual top 5. If so, it gets a perfect score but if it didn't do this we will see how long it takes it to get to the correct value and score it based on that. For people like Chris Paul, we would be heavily penalized.

In [ ]:
def find_ap(combination): #creates function find ap that takes in dataframe
    #sorts dataframe by share and take the top 5 mvp winners
    #then we will sort predictions
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0  #how many of the top 5 mvp's we've found
    seen = 1 #how many total people/records we have already seen
    for index,row in predicted.iterrows(): #iterate through all rows in predicted
        if row["Player"] in actual["Player"].values: #if player is in actual top 5
            found += 1 #increments found
            ps.append(found / seen) #give ourseleves credit
        seen += 1 #increments seen

    return sum(ps) / len(ps)

In [ ]:
ap = find_ap(combination)

In [ ]:
ap #error metric for identifying MVP's - good error metric for top 5

In [ ]:
years = list(range(1991,2022)) #predict for all years

In [ ]:
#implementing backtesting
aps = []
all_predictions = []
for year in years[5:]: #start at 5th year
    train = stats[stats["Year"] < year] #less than year is train
    test = stats[stats["Year"] == year] #year is test
    #goes year x is test and anything before that is train and then
    #does the same thing after increasing x by 1 and so on
    #makes error metric more robust
    reg.fit(train[predictors],train["Share"]) #train model
    predictions = reg.predict(test[predictors]) #make predictions
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    #makes predictions into dataframe
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    #combines predictions with actual data
    all_predictions.append(combination) #appends predictions
    aps.append(find_ap(combination)) #appends the find average precision function
    #at the end we will have all of our predictions in a dataframe and our mean_ap scores

In [ ]:
sum(aps) / len(aps) #mean_ap across all data not top couple

In [ ]:
def add_ranks(predictions): #Let's think about the ranks we predicted vs actual
#helps us to learn how we can improve out model
   #similar to before but sorting dataframe by acual share
    predictions = predictions.sort_values("predictions", ascending=False)
    predictions["Predicted_Rank"] = list(range(1,predictions.shape[0]+1))
    predictions = predictions.sort_values("Share", ascending=False)
    predictions["Rank"] = list(range(1,predictions.shape[0]+1))
    predictions["Difference"] = (predictions["Rank"] - predictions["Predicted_Rank"])
    return predictions

We just found the difference between the actual and predicted rank which helps us see anything we can improve if we have a specific problem.

In [ ]:
add_ranks(all_predictions[25]) #predictions for 1997 season

So now at the top we can see the top five MVPs in 1977 and their difference from the predicted ranks and the actual ranks.

Again, we are implementing a backtesting function to run it and get predictions whenever we want and to make our life a bit simpler and easier in the future.

In [ ]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [ ]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
#backtest regression model for all years from 1996 and on

In [ ]:
mean_ap
#we got the same result as before except for the fact that it is much easier to use

Now we're going to look at diagnostics and the ten biggest differences.

In [ ]:
all_predictions[all_predictions["Rank"] < 5].sort_values("Difference").head(10)

In [ ]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)
#now we're going to combine and concat two pandas series sorted to see the most important variable to the algorithm
#basically which variables are important or not

Adding more predictors to give the model more information.

In [ ]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())
#make stats dataframes for each year where we apply a lambda function which is a function with just one line of code
#in this case it is x divided my the mean
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]
#adding it to out stats dataframe
stats.head()

So now in a category like PTS_T, we can see how people did against the mean. For example, people like James Worth scored a lot more points than the average since his number is about 2.4 which is well over 1. Now we will add these values to our predictors.

In [ ]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
mean_ap
#we did improve a little bit on our error metric

In [ ]:
#now turning these colums into a category and getting the category codes
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes
#here we se if whatever team the person is on affects if they are the mvp or not
stats["NTm"].value_counts()

In [ ]:
mean_ap

In [ ]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [ ]:
mean_ap

In [ ]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

In [ ]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year].copy()
        test = stats[stats["Year"] == year].copy()
        sc.fit(train[predictors])
        train[predictors] = sc.transform(train[predictors])
        test[predictors] = sc.transform(test[predictors])
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [ ]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28:], predictors)

In [ ]:
mean_ap

In [ ]:
#Diagnosing Model Performance

In [ ]:
sc.transform(stats[predictors])

Having a higher or lower number here doesn't mean anything or tell the algorithm anything. In order for an algorithm to understand this we can't really use a linear regression algorithm so we'll use a Random Forest model.

In [ ]:
#Random Forest creates a series of decision trees and averages the predictions from those trees
from sklearn.ensemble import RandomForestRegressor

#creates decision trees to be more acurate - takes a long time to run though
rf = RandomForestRegressor(n_estimators = 50, random_state = 1, min_samples_split = 5)
#random state at 1 makes it so that the values are the same every time we run it
#min samples spit says dont make a new branch until there is 5 values ion each node

mean_ap, aps, all_predictions = backtest(stats, rf, years[28: ], predictors)
#we're also going to compare it to our regression model

In [ ]:
mean_ap

In [ ]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[28: ], predictors)

In [ ]:
mean_ap